.bar .title {
  font-weight: 900;
  font-size: 2em;
  letter-spacing: -1px;
}

.story {
  padding: 20px 0; 
  margin-bottom: 80px;
}

.story .header {
  padding: 0;
  position: relative;
}

.story .backshade {
  position: absolute; 
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000000;
  opacity: 0.5;
  top: 0;
}

.story .details {
  z-index: 2;
  padding: 100px 20px 20px;
  position: inherit;
}

.story h2 {
  font-size: 2.7em;
  font-weight: 900;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.story .byline {
  font-weight: 600;
  text-transform: uppercase;
  color: #DFDFDF;
  letter-spacing: 0.5px;
}

.story .summary {
  margin-top: 50px;
  color: #2B2B2B;
  line-height: 2em;
  padding: 0 20px;
  text-align: justify;
  font-size: 1.2em;
}

.story p {
  margin-bottom: 30px;
}

.finish-line {
  background: #3498db;
  padding: 50px;
  color: #FFFFFF;
  text-align: center;
}

.finish-line i {
  font-size: 5em; 
}

.finish-line h3 {
  font-weight: 700; 
  color: #FFFFFF;
}