<view title="'5IVE'">
  <content has-header="true" padding="false" scroll="true" on-refresh="onRefresh()">
    <refresher></refresher>
    
    <div class="story" ng-repeat="story in stories">
        <div class="header" style="background: url('{{ story.image }}') #000000; background-size: cover;">

        <div class="details">
          <h2>{{ story.title }}</h2>
          <div class="byline">By {{ story.byline }}</div>
        </div>
        <div class="backshade"></div>
        
      </div>
      <div class="summary" ng-bind-html="story.summary"></div>
    </div>
    
    <div class="finish-line" ng-show="stories">
      <i class="icon ion-checkmark-round"></i>
      <h3>Good job! Come back later to get your next five.</h3>
    </div>
  </content>
</view>
